<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<body>

<nav class="navbar"
     th:fragment="navbar">

    <!-- LOGO SECTION -->

    <div class="logo-section">

        <div class="logo-box">

            <img th:src="@{/images/logo.webp}"
                 alt="logo">

        </div>

        <h2>Order Inventory System</h2>

    </div>

    <!-- NAV LINKS -->

    <div class="nav-links">

        <!-- HOME -->

        <a th:href="@{/}">
            Home
        </a>

        <!-- ABOUT -->

        <a href="#">
            About Project
        </a>

        <!-- LOGIN BUTTON -->

        <a th:href="@{/login}"
           sec:authorize="isAnonymous()">

            Login

        </a>

        <!-- USER SESSION -->

        <!-- USER SESSION -->

        <div class="user-session-badge"
             sec:authorize="isAuthenticated()">

            <!-- USER AVATAR -->

            <div class="user-avatar"

                 th:text="${#authentication != null ?
         #strings.substring(#authentication.name,0,1).toUpperCase()
         : 'G'}">

                U

            </div>

            <!-- USER INFO -->

            <div class="user-info">

                <!-- USERNAME -->

                <span class="user-name"
                      sec:authentication="name">

            User

        </span>

                <!-- ROLE -->

                <span class="user-role-label"

                      sec:authentication="authorities">

            ROLE

        </span>

            </div>

        </div>

        <!-- LOGOUT -->

        <form th:action="@{/logout}"
              method="post"
              sec:authorize="isAuthenticated()">

            <button type="submit"
                    class="logout-btn">

                Logout

            </button>

        </form>

    </div>

</nav>

</body>

</html>