* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {

    font-family: 'Inter', sans-serif;

    background:
        linear-gradient(
            135deg,
            #eef2ff,
            #f8fafc
        );

    min-height: 100vh;

    color: #111827;
}

.main-container {

    padding: 30px 40px 60px;
}

.hero-section {

    text-align: center;

    margin-bottom: 60px;
}

.hero-section h1 {

    font-size: 58px;

    font-weight: 800;

    color: #0f172a;

    margin-bottom: 10px;

    letter-spacing: -2px;
}

.hero-section p {

    font-size: 20px;

    color: #64748b;

    font-weight: 500;
}

@media(max-width: 768px) {

    .main-container {

        padding: 20px;
    }

    .hero-section h1 {

        font-size: 42px;
    }

    .hero-section p {

        font-size: 17px;
    }
}